<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="/js/logic.js"></script>
    <link rel="stylesheet" href="/css/estilos.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">  <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">                <!-- Font Awesome -->
    <!-- Bootstrap style -->
    <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="/css/datepicker.css"/>
    <link rel="stylesheet" href="/css/tooplate-style.css">                                   <!-- Templatemo style -->
    <link href="/css/all.css" rel="stylesheet"> <!--load all styles -->

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Fontawesome icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    <title>Rescate de patitas</title>
</head>

<header>
    <div class="tm-main-content" id="top">
        <div class="tm-top-bar-bg"></div>
        <div class="tm-top-bar" id="tm-top-bar">
            <!-- Top Navbar -->
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg narbar-light">
                        <a class="navbar-brand mr-auto" href="/index">
                            <img src="img/logo.png" alt="Site logo" width="55" height="58">
                            Rescate de patitas
                        </a>
                        <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse"
                                data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div id="mainNav" class="collapse navbar-collapse tm-bg-white">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="/mascotas-perdidas">Mascotas perdidas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/publicaciones-adopcion">Adoptar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/mascota-perdida-sin-chapita">Encontre una mascota</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/registro-de-persona">Registrarse</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/login">Log-In</a>
                                </li>
                                     <li class="nav-item">
                                                                    <div class="homebutton">
                                                                        <a href="/index">Volver al home</a>
                                                                                                    </div>
                                                                                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<body>
    <br>
    <div style="width:100%; display: flex; justify-content: center;">
    <h1>Preferencias de tu mascota</h1>
    </div>
    <br>
    <div id="parte-uno">
        <div style="width:100%; display: grid; justify-content: center;">
            <h4>Tipo de mascota</h4><input class="form-control"> 
            <br>
            <h3>Descripción física</h3>
            <br>
            <h4>Peso</h4>
            <h5> entre <input type="number"> Y <input type="number"> Kg</h5>
            <h4>Altura</h4>
            <h5> entre <input type="number"> Y <input type="number"> Cm</h5>
            <br>
            <h3>Castrado <input type="checkbox" style="width: 30px; height: 30px;"></h3>
            <button id="siguiente-parte-uno" type="button" class="btn btn-danger">Siguiente</button><br>
        </div>
    </div>
    <div id="parte-dos" hidden=true>
        <div style="width:100%; display: grid; justify-content: center;">
            <h3>Características</h3> 
            <h4>Color principal <input></h4>
            <h4>Color secundario <input></h4>
            <h4>¿Posee patio? <input type="checkbox" style="width: 30px; height: 30px;"></h4>
            <h4>¿Posee más animales? <input type="checkbox" style="width: 30px; height: 30px;" ></h4>
            <h4>¿Cuántos? <input type="number"></h4>
            <h4>Preguntas respeto a la adopción</h4>
            <h4> <input style="height: 200px ; width:100%"></h4>
            <button id="atras-parte-dos" type="button" class="btn btn-secondary">Atrás</button>
            <a href="/index" type="button" class="btn btn-danger">Finalizar</a><br>
        </div>
    </div>

</body>
<div data-include="footer"></div>
<script src="js/jquery-1.11.3.min.js"></script>       <!-- jQuery (https://jquery.com/download/) -->
<script src="js/base.js"></script>
<script src="js/registro-de-mascota.js"></script>
</html>