<div data-include="headerDuenio"></div>

<body>
    <div class="tm-section tm-section-pad tm-bg-gray" id="tm-section-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
                    <h4>Direccion <input type=""></h4><br><br>
                    <h4>Mail <input> <select>
                            <option value="1">@hotmail.com</option>
                            <option value="2">@gmail.com</option>
                        </select></h4>
                    <br><br>
                    <h4>Telefono <select>
                            <option value="1">Argentina (+54)</option>
                            <option value="2">Brasil (+55) </option>
                            <option value="2">Chile (+56) </option>
                            <option value="2">Colombia (+57) </option>
                            <option value="2">Uruguay (+598) </option>
                            <option value="2">Venezuela (+58) </option>
                        </select> Numero <input type="number"></h4><br><br>
                    <h3>Formas de contacto</h3><br><br>
                    <h4>SMS <input type="checkbox" style="width: 30px; height: 30px">WhatsApp <input type="checkbox"
                            style="width: 30px; height: 30px;"> Email <input type="checkbox"
                            style="width: 30px; height: 30px;"></h4><br><br>
                    <h4>Nueva contraseña <input></h4>
                    <br><br>
                    <a href="/indexDuenio" type="button" class="btn btn-danger">Cancelar</a><br>
                    <a href="/indexDuenio" type="button" class="btn btn-danger">Guardar Cambios</a><br>
                </div>
            </div>
        </div>
    </div>
</body>
<div data-include="footer"></div>
<!-- load JS files -->
<script src="js/jquery-1.11.3.min.js"></script> <!-- jQuery (https://jquery.com/download/) -->
<script src="slick/slick.min.js"></script> <!-- http://kenwheeler.github.io/slick/ -->
<script src="js/base.js"></script>
<script>