<div data-include="headerDuenio"></div>

<body>
    <div class="tm-section tm-section-pad tm-bg-gray" id="tm-section-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
                    <h4>Nueva contraseña <input></h4>
                    <br><br>
                    <a href="/indexAdmin" type="button" class="btn btn-danger">Cancelar</a><br>
                    <a href="/indexAdmin" type="button" class="btn btn-danger">Guardar Cambios</a><br>
                </div>
            </div>
        </div>
    </div>
</body>
<div data-include="footer"></div>
<!-- load JS files -->
<script src="js/jquery-1.11.3.min.js"></script> <!-- jQuery (https://jquery.com/download/) -->
<script src="slick/slick.min.js"></script> <!-- http://kenwheeler.github.io/slick/ -->
<script src="js/base.js"></script>
<script>