<div data-include="header"></div>

<body>
    <br>
    <div style="width:100%; display: flex; justify-content: center;">
        <h1>Completa los siguientes datos</h1>
    </div>
    <br>
    <div id="parte-uno">
        <div style="width:100%; display: grid; justify-content: center;">
            <h3>Tamano
                <select name="Tamaño" id="tam">
                    <option value="Pequeño">Pequeno</option>
                    <option value="Mediano">Mediano</option>
                    <option value="Grande">Grande</option>
                </select>
            </h3>
            <br><br>
            <h3>Castrado <input type="checkbox" style="width: 30px; height: 30px;"></h3><br>
            <h3>Caracter
                <select name="Caracter" id="Caracter">
                    <option value="Amistoso">Amistoso</option>
                    <option value="Regular">Regular</option>
                    <option value="Agresivo">Agresivo</option>
                </select>
            </h3>
            <br>
            <a href="/index" type="button" class="btn btn-danger">Finalizar</a><br>
        </div>
    </div>

</body>
<div data-include="footer"></div>
<script src="js/jquery-1.11.3.min.js"></script> <!-- jQuery (https://jquery.com/download/) -->
<script src="js/base.js"></script>
<script src="js/registro-de-mascota.js"></script>

</html>