<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rescate de Patitas</title>
    <!-- load stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css"> <!-- Font Awesome -->
    <link rel="stylesheet" href="css/bootstrap.min.css"> <!-- Bootstrap style -->
    <link rel="stylesheet" type="text/css" href="slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="css/datepicker.css" />
    <link rel="stylesheet" href="css/tooplate-style.css"> <!-- Templatemo style -->
    <link href="/css/all.css" rel="stylesheet">
    <!--load all styles -->
</head>

<header>
    <div class="tm-main-content" id="top">
        <div class="tm-top-bar-bg"></div>
        <div class="tm-top-bar" id="tm-top-bar">
            <!-- Top Navbar -->
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg narbar-light">
                        <a class="navbar-brand mr-auto" href="/index">
                            <img src="img/logo.png" alt="Site logo" width="55" height="58">
                            Rescate de Patitas
                        </a>
                        <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse"
                                data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div id="mainNav" class="collapse navbar-collapse tm-bg-white">
                            <ul class="navbar-nav ml-auto">

                                <li class="nav-item">
                                    <div class="homebutton">
                                        <a href="/index">Volver al home</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<body>
    <br>
    <div style="width:100%; display: flex; justify-content: center;">
        <h1>Hogares de transito</h1>
    </div>
    <br>
    <br>
    <div id="parte-uno">
        <div style="width:100%; display: grid; justify-content: center;">
            <h4>
                <table style="table-layout: fixed; width: 100%;border-collapse: collapse;border: 1px solid #B39DA6;">
                    <tr
                        style="background: #ED6969;text-shadow: 1px 1px 1px black;font-size: 24px; text-align: center; color: white;">
                        <td>Nombre </td>
                        <td> Ubicacion </td>
                        <td> Telefono </td>
                        <td> Distancia </td>
                        <td> Accion </td>
                    </tr>
                    <tr style="background: #F2EFEF;font-size: 20px; text-align: center; color: black;">
                        <td> Adopteros Argentina </td>
                        <td> Plaza Teniente General Emilio Mitre, Recoleta, Buenos Aires </td>
                        <td> +541140893717 </td>
                        <td> 5 km </td>
                        <td> <button id="elegir" type="button" class="btn btn-danger">Elegir</button></td>
                    </tr>
                    <tr style="background: #F2EFEF;font-size: 20px; text-align: center; color: black;">
                        <td> Las Renatas </td>
                        <td> Belen de Escobar, Provincia de Buenos Aires </td>
                        <td> +541130017001 </td>
                        <td> 2 km </td>
                        <td> <button id="elegir" type="button" class="btn btn-danger">Elegir</button></td>
                    </tr>
                    <tr style="background: #F2EFEF;font-size: 20px; text-align: center; color: black;">
                        <td> Ayudacan </td>
                        <td> Jeronimo Salguero 151,C1177AEA, C1177 AEA, Buenos Aires </td>
                        <td> +541134586100 </td>
                        <td> 3 km </td>
                        <td> <button id="elegir" type="button" class="btn btn-danger">Elegir</button></td>
                    </tr>
                </table>
            </h4>
        </div>
    </div>

</body>


</html>