<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Rescate de Patitas</title>
    <!-- load stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css"> <!-- Font Awesome -->
    <link rel="stylesheet" href="css/bootstrap.min.css"> <!-- Bootstrap style -->
    <link rel="stylesheet" type="text/css" href="slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="css/datepicker.css" />
    <link rel="stylesheet" href="css/tooplate-style.css"> <!-- Templatemo style -->
    <link href="/css/all.css" rel="stylesheet">
    <!--load all styles -->
</head>
<header>
    <div class="tm-main-content" id="top">
        <div class="tm-top-bar-bg"></div>
        <div class="tm-top-bar" id="tm-top-bar">
            <!-- Top Navbar -->
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg narbar-light">
                        <a class="navbar-brand mr-auto" href="/index">
                            <img src="img/logo.png" alt="Site logo" width="55" height="58">
                            Rescate de Patitas
                        </a>
                        <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse"
                            data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div id="mainNav" class="collapse navbar-collapse tm-bg-white">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="/publicaciones">Mascotas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/crear-voluntario">Crear Voluntario</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/caracteristicas">caracteristicas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Cerrar sesión</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<body>
        <div class="tm-section tm-section-pad tm-bg-gray" id="tm-section-4">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
                        <h1>Mascotas del Sistema</h1>
                        <div class="tm-article-carousel">
                            <article class="tm-bg-white mr-2 tm-carousel-item">
                                <img src="img/img-01.jpg" alt="Image" class="img-fluid" width="1000" height="75">
                                <div class="tm-article-pad">
                                    <header><h3 class="text-uppercase tm-article-title-2">Hallaron a Roque!</h3></header>
                                                                        <p>Roque fue hallado por Gimena en el barrio de mataderos, estaba hambriento, sucio y mojado. Se le dio un baño, comida y agua.</p>
                                                                    </div>
                                                                </article>
                                                                <article class="tm-bg-white mr-2 tm-carousel-item">
                                                                    <img src="img/img-02.jpg" alt="Image" class="img-fluid" width="1000" height="75">
                                                                    <div class="tm-article-pad">
                                                                        <header><h3 class="text-uppercase tm-article-title-2">Se Perdió Tito</h3></header>
                                                                        <p>La ultima vez que fue visto fue en Corrientes y Libertador en Vicente Lopez</p>
                                                                    </div>
                                                                </article>
                                                                <article class="tm-bg-white mr-2 tm-carousel-item">
                                                                    <img src="img/img-03.jpg" alt="Image" class="img-fluid" width="1000" height="75">
                                                                    <div class="tm-article-pad">
                                                                        <header><h3 class="text-uppercase tm-article-title-2">Hallaron a Rufian!</h3></header>
                                                                        <p>Rufian fue hallado en el barrio de Nuñez, cerca de Udaondo y Figueroa Alcorta. Estaba molesto pero alegre.</p>
                                                                    </div>
                                                                </article>
                                                                <article class="tm-bg-white tm-carousel-item">
                                                                    <img src="img/img-04.jpg" alt="Image" class="img-fluid" width="1000" height="75">
                                                                    <div class="tm-article-pad">
                                                                        <header><h3 class="text-uppercase tm-article-title-2">Hallaron a Dexter!</h3></header>
                                                                        <p>Dexter fue hallado en Honduras y Carranza en Palermo. La rescatitsta fue Paula, le compro un juguete y le dio agua. En este momento no se lo ve ni hambriento ni lastimado.</p>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-recommended-container">
                        <div class="tm-bg-white">
                            <div class="tm-bg-primary tm-sidebar-pad">
                                <h3 class="tm-color-white tm-sidebar-title">Actividad Reciente</h3>
                                <p class="tm-color-white tm-margin-b-0 tm-font-light">¡Enterate de las ultimas novedades!</p>
                            </div>
                            <div class="tm-sidebar-pad-2">
                                <a href="#" class="media tm-media tm-recommended-item">
                                    <img src="img/img-01.jpg" alt="Image" width="100" height="100">
                                    <div class="media-body tm-media-body tm-bg-gray">
                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Mascota encontrada</h4>
                                    </div>
                                </a>
                                <a href="#" class="media tm-media tm-recommended-item">
                                    <img src="img/img-02.jpg" alt="Image" width="100" height="100">
                                    <div class="media-body tm-media-body tm-bg-gray">
                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Mascota perdida</h4>
                                    </div>
                                </a>
                                <a href="#" class="media tm-media tm-recommended-item">
                                    <img src="img/img-03.jpg" alt="Image" width="100" height="100">
                                    <div class="media-body tm-media-body tm-bg-gray">
                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Mascota perdida</h4>
                                    </div>
                                </a>
                                <a href="#" class="media tm-media tm-recommended-item">
                                    <img src="img/img-04.jpg" alt="Image" width="100" height="100">
                                    <div class="media-body tm-media-body tm-bg-gray">
                                        <h4 class="text-uppercase tm-font-semibold tm-sidebar-item-title">Mascota encontrada</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer class="tm-bg-dark-blue">
        <div class="container">
            <div class="row">
                <p class="col-sm-12 text-center tm-font-light tm-color-white p-4 tm-margin-b-0">
                    Copyright &copy; <span class="tm-current-year">2021</span> ManaOS

                    - Design: <a rel="nofollow" class="tm-color-primary tm-font-normal" target="_parent">Manaos Design</a>
                </p>
            </div>
        </div>
    </footer>
    <div data-include="footer"></div>
            <!-- load JS files -->
            <script src="js/jquery-1.11.3.min.js"></script>             <!-- jQuery (https://jquery.com/download/) -->
            <script src="slick/slick.min.js"></script>                  <!-- http://kenwheeler.github.io/slick/ -->
            <script src="js/base.js"></script>
            <script>

                /* Google map
                ------------------------------------------------*/
                var map = '';
                var center;

                function initialize() {
                    var mapOptions = {
                        zoom: 13,
                        center: new google.maps.LatLng(-23.013104,-43.394365),
                        scrollwheel: false
                    };

                    map = new google.maps.Map(document.getElementById('google-map'),  mapOptions);

                    google.maps.event.addDomListener(map, 'idle', function() {
                    calculateCenter();
                });

                    google.maps.event.addDomListener(window, 'resize', function() {
                    map.setCenter(center);
                });
                }

                function calculateCenter() {
                    center = map.getCenter();
                }

                function loadGoogleMap(){
                    var script = document.createElement('script');
                    script.type = 'text/javascript';
                    script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDVWt4rJfibfsEDvcuaChUaZRS5NXey1Cs&v=3.exp&sensor=false&' + 'callback=initialize';
                    document.body.appendChild(script);
                }

                function setCarousel() {

                    if ($('.tm-article-carousel').hasClass('slick-initialized')) {
                        $('.tm-article-carousel').slick('destroy');
                    }

                    if($(window).width() < 438){
                        // Slick carousel
                        $('.tm-article-carousel').slick({
                            infinite: false,
                            dots: true,
                            slidesToShow: 1,
                            slidesToScroll: 1
                        });
                    }
                    else {
                    $('.tm-article-carousel').slick({
                            infinite: false,
                            dots: true,
                            slidesToShow: 2,
                            slidesToScroll: 1
                        });
                    }
                }


                $(document).ready(function(){
                    // Google Map
                    loadGoogleMap();
                    // Slick carousel
                    setCarousel();
                    $(window).resize(function() {
                    setCarousel();
                    });
                    // Update the current year in copyright
                    $('.tm-current-year').text(new Date().getFullYear());
                });

            </script>
</html>